# Core functionality - changes here should be rare!
/src/app.py                   @Luttika-Jenifer
/src/backend/database.py      @Luttika-Jenifer
/src/backend/routers/auth.py  @Luttika-Jenifer

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Luttika-Jenifer
